server:
  port: 8081
spring:
  application:
    name: fintech
  datasource:
    url: jdbc:mysql://localhost:3306/bank
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
